services:
  db:
    build:
      context: .
      dockerfile: Dockerfile.mongo
    container_name: filmotheque-db
    ports:
      - "27017:27017"

  opensesame-back:
    build:
      context: .
      dockerfile: Dockerfile.opensesame
      args:
        DATABASE: mongodb://admindb:admindb@db:27017/opensesame?authSource=admin
        JWT_SECRET: jc2TNsWyaM3DdKkhurJL8QGzCvX9BfUY
        CORS_WHITELIST: "http://filmotheque-back:8081,http://localhost,http://filmotheque-front,http://localhost:80"
    container_name: opensesame-back
    environment:
      NODE_ENV: production
      PORT: 8080
      DB_NAME: opensesame
      DATABASE: mongodb://admindb:admindb@db:27017/opensesame?authSource=admin
      PASSWORD_HASH_DIFFICULTY: 12
      JWT_SECRET: jc2TNsWyaM3DdKkhurJL8QGzCvX9BfUY
      JWT_EXPIRES_IN: 604800
      JWT_COOKIE_EXPIRES_IN: 7
      RATELIMIT_MAXCONNECTIONS: 100
      RATELIMIT_WINDOWMS: 3600000
      CORS_WHITELIST: "http://filmotheque-back:8081,http://localhost,http://filmotheque-front,http://localhost:80"
    depends_on:
      - db
    ports:
      - "8080:8080"

  filmotheque-back:
    build:
      context: .
      dockerfile: Dockerfile.filmotheque-back
      args:
        DATABASE: mongodb://admindb:admindb@db:27017/filmotheque?authSource=admin
        AUTH_URL: http://opensesame-back:8080/api/v1
        CORS_WHITELIST: "http://localhost,http://opensesame-back:8080,http://filmotheque-front,http://localhost:80"
    container_name: filmotheque-back
    environment:
      NODE_ENV: production
      PORT: 8081
      DATABASE: mongodb://admindb:admindb@db:27017/filmotheque?authSource=admin
      AUTH_URL: http://opensesame-back:8080/api/v1
      TRAKT_API_URL: https://api.trakt.tv
      TRAKT_CLIENT_ID: mock-trakt-client-id
      TRAKT_CLIENT_SECRET: mock-trakt-client-secret
      TMDB_BASE_URL: https://www.themoviedb.org/movie
      RATELIMIT_MAXCONNECTIONS: 100
      RATELIMIT_WINDOWMS: 3600000
      CORS_WHITELIST: "http://localhost,http://opensesame-back:8080,http://filmotheque-front,http://localhost:80"
    depends_on:
      - db
      - opensesame-back
    ports:
      - "8081:8081"

  filmotheque-front:
    build:
      context: .
      dockerfile: Dockerfile.front
      args:
        BASE_URL_AUTH: http://localhost:8080/api
        BASE_URL_API: http://localhost:8081/api
    container_name: filmotheque-front
    depends_on:
      - db
      - opensesame-back
      - filmotheque-back
    ports:
      - "80:80"
